<aside class="aside h-100 text-white shadow-lg">
  <div>
    <h1 class="display-4 text-center border-bottom pb-4">Event Tracking App</h1>
  </div>
  <ul class="list-unstyled  mx-auto d-flex flex-column col-6 align-items-center gap-4">
    <li class="w-100">
      <a routerLink="" class="btn btn-light w-100">Home</a>
    </li>
    <li class="w-100">
      <a routerLink="events" class="btn btn-light w-100">Show Events</a>
    </li>
    <li class="w-100">
      <a routerLink="create" class="btn btn-light w-100">Add Event</a>
    </li>
    <li class="w-100">
      <a routerLink="search" class="btn btn-light w-100">Search</a>
    </li>

  </ul>
</aside>